<div id="message">
	<div id="m1"><%= errorMessage %></div>
	<div id="m2"><%= errorCode %></div>
	<div id="m3">
		The server encountered an internal error or misconfiguration and was unable to complete your request.
	</div>
	<div id="m4">
		Our "experts" are trying to fix the problem, please stand by.
	</div>
    <a href="https://status.velis.me" target="_blank" rel="noopener noreferrer">status.velis.me</a>
</div>

<div id="charactersDiv">
</div>
<canvas id="canvas"></canvas>

<link href="/css/error.css" rel="stylesheet" />
<script src="/js/error.js"></script>