<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Startseite</title>
</head>
<body>
  <h1>Willkommen <%= user ? user.username : 'Gast' %>!</h1>

  <% if (user) { %>
    <p><a href="/profile/<%= user.username %>">Profil anzeigen</a></p>
    <p><a href="/logout">Logout</a></p>
  <% } else { %>
    <p><a href="/login">Login</a></p>
    <p><a href="/register">Registrieren</a></p>
  <% } %>
</body>
</html>
